@model PontosTuristicosModel;

@{
    ViewData["Title"] = "Edição - ";
}

<link rel="stylesheet" href="~/css/telaEdicao.css" asp-append-version="true" />

<div class="container">
    <div class="text-center py-2 mb-4">
        <h1 class="text-daek custom-text">Edição - Ponto Turístico</h1>
    </div>
    <form method="post" asp-controller="ListaPontosTuristicos" asp-action="editar" class="custom-form w-50 m-auto">
        @* Capturando o Id enviado *@
        <input type="hidden" asp-for="Id" />

        @* NOME *@
        <div class="form-group mb-3">
            <label for="Nome" class="custom-text mb-2">Nome</label>
            <input type="text" asp-for="Nome" class="form-control custom-input" id="Nome"
                placeholder="Digite o nome do ponto turístico">
            <span class="text-danger custom-span" asp-validation-for="Nome"></span>
        </div>

        @* ENDEREÇO *@
        <div class="form-group mb-3">
            <label for="Endereco" class="custom-text mb-2">Endereço</label>
            <input type="text" asp-for="Endereco" class="form-control custom-input" id="Endereco"
                placeholder="Exemplo: Rua da Paz, 123, Centro">
            <span class="text-danger custom-span" asp-validation-for="Endereco"></span>
        </div>

        @* ESTADO e CIDADE *@
        <div class="mt-4 mb-3 d-flex gap-3">
            @* ESTADO *@
            <div class="form-group  w-25">
                <select class="form-select custom-select" asp-for="Estado" id="Estado">
                    <option value="" selected hidden>UF</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AM">AM</option>
                    <option value="AP">AP</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="PR">PR</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SE">SE</option>
                    <option value="SP">SP</option>
                    <option value="TO">TO</option>
                </select>
                <span class="text-danger custom-span" asp-validation-for="Estado"></span>
            </div>

            @* CIDADE *@
            <div class="form-group w-75">
                <input type="text" asp-for="Cidade" class="form-control custom-input" id="Cidade"
                    placeholder="Digite o nome da Cidade">
                <span class="text-danger custom-span" asp-validation-for="Cidade"></span>
            </div>
        </div>

        @* REFERÊNCIA *@
        <div class="form-group mb-3">
            <label for="Referencia" class="custom-text mb-2">Referência</label>
            <input type="text" asp-for="Referencia" class="form-control custom-input" id="Referencia"
                placeholder="Exemplo: Próximo à praça principal ou ponto de ônibus">
            <span class="text-danger custom-span" asp-validation-for="Referencia"></span>
        </div>

        @* DESCRIÇÃO *@
        <div class="form-group mb-3">
            <label for="Descricao" class="custom-text mb-2">Descrição</label>
            <textarea class="form-control custom-input" asp-for="Descricao" id="Descricao" maxlength="100" rows="3"
                placeholder="Descreva brevemente o ponto turístico e seus atrativos..."></textarea>
            <span class="text-danger custom-span" asp-validation-for="Descricao"></span>
        </div>

        <input type="hidden" asp-for="DataCriacao" />

        <div class="w-100 m-auto d-flex justify-content-between py-3">
            <a asp-controller="Home" asp-action="Index" type="reset"
                class="btn btn-danger w-25 me-3 fw-bold">Cancelar</a>
            <button type="submit" class="btn btn-success w-25 ms-3 fw-bold">Salvar</button>
        </div>
    </form>
</div>

<script>
    document.getElementById("Nome").addEventListener("input", function () {
        this.value = this.value.toUpperCase();
    })

    document.getElementById("Endereco").addEventListener("input", function () {
        this.value = this.value.toUpperCase();
    })

    document.getElementById("Cidade").addEventListener("input", function () {
        this.value = this.value.toUpperCase();
    })
</script>