.custom-form {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
}

.custom-text {
    color: #fb4400;
    font-weight: 500;
}

.custom-input {
    border: 2px solid #6e6e6e;
    box-shadow: none;
}

.custom-input:focus {
    border: 2px solid #fb4400;
    box-shadow: none;
}

.custom-input-dropdown {
    border: 2px solid #6e6e6e;
    box-shadow: none !important;
    font-weight: 500;
    /* color: #fb4400; */
}

.custom-input-dropdown:hover,
.custom-input-dropdown:focus {
    border: 2px solid #fb4400;
    background-color: #fb4400;
    color: white;
    box-shadow: none;
}

.custom-dropdown-item{
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

.custom-dropdown-item:hover{
    background-color: #f79e7e;
}